.TopBar {
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  padding: 0 1rem;
  overflow: hidden;
  background-color: var(--surface-ground);
  a {
    user-select: none;
    -webkit-user-drag: none;
  }
  ul {
    gap: 1rem;

    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    i {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }

    li {
      display: flex;
      height: 100%;
      justify-content: center;
    }
    li:hover {
      background-color: var(--surface-hover);
      color: var(--text-color);
      outline: 2px solid var(--surface-hover);
      outline-offset: -2px;
      transform: scale(1);
      transition: all linear 0.2s;
    }
  }
  a {
    transition: all linear 0.2s;
    transform: scale(1);
    padding: 0 1.5rem;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .active-link {
    background-color: #f48fb1;
  }
}
