@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html,
body,
#root,
.App {
  margin: 0px;
  padding: 0px;
  background-color: var(--surface-ground);
  font-family: "Press Start 2P", cursive;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body::-webkit-scrollbar {
  display: none;
}
html {
  font-size: 14px;
}

@keyframes p-progress-spinner-color {
  0% {
    stroke: red;
  }
  33% {
    stroke: green;
  }
  66% {
    stroke: blue;
  }
}
