.Register {
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .Card {
    min-width: 400px;
    justify-content: center;

    padding: 2rem;
    border-radius: 10px;
    form {
      margin-top: 2rem;
    }
    .field {
      margin-bottom: 1.5rem;
    }
  }
}
